﻿@model GL.Models.Player

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Płeć: @Model.PlayerGender</li>
    <li>Data urodzenia: @Model.BirthDate.ToString("dd MMMM, yyyy")</li>
</ul>

