@model IEnumerable<GL.Models.Player>

@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Graczy</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nazwa gracza</th>
            <th>Płeć</th>
            <th>Data urodzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
        <tr>
            <td>@Html.ActionLink(player.Name, "Details", "Players", new { id = player.Id }, null)</td>
            <td>@player.PlayerGender</td>
            <td>@player.BirthDate.ToString("dd MMMM, yyyy")</td>
            <td>@Html.ActionLink("Edycja", "Edit", "Players", new { id = player.Id }, null)</td>
        </tr>
        }
    </tbody>
</table>