﻿@model IEnumerable<GL.Models.Player>

@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Graczy</h2>

<table id="players" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nazwa gracza</th>
            <th>Płeć</th>
            <th>Data urodzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
        <tr>
            <td>@Html.ActionLink(player.Name, "Details", "Players", new { id = player.Id }, null)</td>
            <td>@player.PlayerGender</td>
            <td>@player.BirthDate.ToString("dd MMMM, yyyy")</td>
            <td>@Html.ActionLink("Edycja", "Edit", "Players", new { id = player.Id }, null)</td>
            <td><button data-player-id="@player.Id" class="btn-link jquery-delete">Usuń</button></td>
        </tr>
        }
    </tbody>
</table>
<h4>@Html.ActionLink("Dodaj gracza", "New", "Players", new { }, null)</h4>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#players .jquery-delete").on("click", function () {
                var button = $(this);

                if (confirm("Czy na pewno chcesz usunąć?")) {
                    $.ajax({
                        url: "/api/PlayersAPI/" + button.attr("data-player-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    })
                };
            });
        });
    </script>   
}