@{
    ViewBag.Title = "Home Page";
}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                var $games = $('#api-output');
                $.ajax({
                    url: "/api/WebAPI",
                    success: function (games) {
                        $.each(games, function (i, item) {
                            $games.append('<li><b>'+item.Name+'</b>, '+item.Genre+', '+item.Distributor+', '+item.ReleaseYear+'</li>');
                        });
                    }
                });
            });
        </script>

        <div style="margin-top: 50px;" class="row">
            <div class="col-md-6">
                <h2>Utworzone API</h2>
                <p>Utworzony moduł WebAPI korzystający z bazdy danych projektu. Dane wywołane na stronie przy użyciu jQuery (GET).</p>
                <ul id="api-output"></ul>
            </div>

            <script type="text/javascript">
                function search() {
                    var searchValue = $('#foo').val();
                    var $view = $('#api-external');
                    $.get("https://recipe-search.projektstudencki.pl/recipe/searchRecipes/?search=" + searchValue + "&count=5", function (data) {
                        var allRecipes = data.recipes;
                        for (var i = 0; i <= allRecipes.length; i++) {
                            $view.append('<li>Nazwa przepisu: <b>' + allRecipes[i].title + '</b>, blog: ' + allRecipes[i].blog + '</li>');
                        }
                    });
                }
            </script>


            <div class="col-md-6">
                <h2>Zewnętrzne API</h2>
                <p>API z przepisami na projekt inżynierski.</p>
                <input class="form-control" style="margin-bottom: 10px;" id="foo" type="text" />
                <button style="margin-bottom: 20px;" value="Szukaj" class="btn btn-default" onclick="search()">Szukaj</button>
                <p id="api-external"></p>
            </div>
        </div>