@{
    ViewBag.Title = "Home Page";
}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                var $games = $('#api-output');
                $.ajax({
                    url: "/api/WebAPI",
                    success: function (games) {
                        $.each(games, function (i, item) {
                            $games.append('<li><b>'+item.Name+'</b>, '+item.Genre+', '+item.Distributor+', '+item.ReleaseYear+'</li>');
                        });
                    }
                });
            });
        </script>

<div style="margin-top: 50px;"class="row">
    <div class="col-md-6">
        <h2>Utworzone API</h2>
        <p>Utworzony moduł WebAPI korzystający z bazdy danych projektu. Dane wywołane na stronie przy użyciu jQuery (GET).</p>
        <ul id="api-output">
        </ul>
    </div>

    <script type="text/javascript">
        $(function () {
            var $weather = $('#api-external');
            $.ajax({
                url: "https://api.apixu.com/v1/current.json?key=ea18da65078a4c6ea4b15915190206&q=Poznan",
                success: function (weather) {
                    $.each(weather, function (i, item) {
                        $weather.append('<b>' + item.name + '</b>, ' + item.country + ', ' + item.temp_c + ', ' + item.wind_kph + '');
                    });
                }
            });
        });
    </script>

    <div class="col-md-6">
        <h2>Zewnętrzne API</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p id="api-external"></p>
    </div>
</div>