@model GL.Models.Game

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Gatunek: @Model.Genre</li>
    <li>Dystrybutor: @Model.Distributor</li>
    <li>Rok wydania: @Model.ReleaseYear</li>
</ul>

