﻿@model IEnumerable<GL.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Gier</h2>

<table id="games" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tytuł gry</th>
            <th>Gatunek</th>
            <th>Wydawca</th>
            <th>Rok wydania</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
        <tr>
            <td>@Html.ActionLink(game.Name, "Details", "Games", new { id = game.Id }, null)</td>
            <td>@game.Genre</td>
            <td>@game.Distributor</td>
            <td>@game.ReleaseYear</td>
            <td>@Html.ActionLink("Edycja", "Edit", "Games", new { id = game.Id }, null)</td>
            <td><button data-game-id="@game.Id" class="btn-link jquery-delete">Usuń</button></td>
        </tr>
        }
    </tbody>
</table>
<h4>@Html.ActionLink("Dodaj grę", "New", "Games", "", null)</h4>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#games .jquery-delete").on("click", function () {
                var button = $(this);

                if (confirm("Czy na pewno chcesz usunąć?")) {
                    $.ajax({
                        url: "/api/WebAPI/" + button.attr("data-game-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    })
                };
            });
        });
    </script>
}