﻿@using GL.Models
@model GL.Models.Game

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj grę</h2>

@using (Html.BeginForm("Save", "Games"))
{
    <div class="form-group">
        <label for="Name">Tytuł gry</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Genre">Gatunek</label>
        @Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Distributor">Wydawca</label>
        @Html.TextBoxFor(m => m.Distributor, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="ReleaseYear">Rok wydania</label>
        @Html.TextBoxFor(m => m.ReleaseYear, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" style="margin-top: 25px;" class="btn btn-primary">Dodaj</button>
}

